<div class="page">
  <div class="jumbotron">
    <h1>Why you should hire me?</h1>
    <p class="lead">
      <span class="glyphicon glyphicon-ok-circle"></span> I have the experience to start contributing from day one<br>
      <span class="glyphicon glyphicon-ok-circle"></span> I have good management skills and I'm a terrific developer<br>
      <span class="glyphicon glyphicon-ok-circle"></span> I can do the work and deliver exceptional results<br>
      <span class="glyphicon glyphicon-ok-circle"></span> I'm a quick learner and a good team player
    </p>
    <p><a class="btn btn-lg btn-success" ui-sref="challenge({page: 'challenge1'})">Check the solutions!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
</div>